body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#main-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex: 1 0 auto;
    width: 50%;
}

@media (max-width: 720px) {
    #main-content {
        width: 80%;
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
    }
}

#profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

@media (max-width: 720px) {
    #profile {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: -moz-available;
        width: -webkit-fill-available;
        width: fill-available;
    }
}

#profile_avatar {
    border-radius: 5px;
    width: 136px;
    height: 136px;
    object-fit: cover;
    margin-right: 48px;
    margin-left: 12px;
}

@media (max-width: 720px) {
    #profile_avatar {
        width: 128px;
        height: 128px;
        margin-right: 0;
        margin-left: 0;
    }
}

#profile_text {
    text-align: left;
}

@media (max-width: 720px) {
    #profile_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: auto;
    }
}

#profile_text_name {
    margin-top: 48px;
    font-family: Borel;
    height: 16px;
}

@media (max-width: 720px) {
    #profile_text_name {
        text-align: center;
    }
}

#profile_text_bio {
    margin-bottom: 28px;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 24px;
}

@media (max-width: 720px) {
    #profile_text_bio {
        width: 80%;
    }
}

#nav {
    margin-top: 8px;
    flex: 1 0 auto;
}

@media (max-width: 720px) {
    #nav {
        flex-direction: column;
        align-items: center;
    }
}

#nav-main {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: bold;
}

#nav-second {
    font-family: 'Roboto Mono', sans-serif;
    margin-left: 24px;
}

#footer {
    padding-top: 10px;
    padding-bottom: 10px;
    flex-shrink: 0;
    font-family: 'Roboto Mono', sans-serif;
}
